@import '../../shared-styles/index';

.pageNav {
  font-size: $font-size-s;
  font-family: $nav-font;
  color: $medium-grey;
  margin: 1.2em 0;
  display: flex;

  .link {
    color: $medium-grey;
  }
}

.link {
  color: $dark-grey;
  display: block;
  line-height: 2em;

  &.inline {
    display: inline;
    line-height: 1.3em;
  }
}

.contentNav {
  font-family: $nav-font;

  .nav {
    margin-bottom: 1em;
  }

  .list {
    min-height: 2.5em;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .left,
  .right {
    display: flex;
    flex: 1;
  }

  .right {
    justify-content: flex-end;
  }
}
