@import 'shared-styles/index';

.pageNav {
  font-size: $font-size-s;
  font-family: $nav-font;
  color: $medium-grey;
  margin-bottom: 1.2em;

  .link {
    color: $medium-grey;
  }
}

.link {
  color: $dark-grey;
  display: block;
  line-height: 2em;

  &.inline {
    display: inline;
    line-height: 1.3em;
  }
}
