@import 'shared-styles/index';

.pageNav {
  font-size: 14px;
  font-family: $nav-font;
  color: $medium-grey;
  margin-bottom: 15px;

  .link {
    color: $medium-grey;
  }
}

.link {
  color: $dark-grey;
  display: block;
  line-height: 22px;

  &.inline {
    display: inline;
    line-height: 16px;
  }
}
