@import 'shared-styles/index';

.entry {
  font-family: $body-font;
  font-size: $font-size-normal;

  & > div {
    display: inline;
  }

  .location {
    margin-right: 0.3em;
  }

  .source {
    margin-right: 0.3em;
    font-weight: bold;
    color: $dark-grey;
  }

  a,
  a:active,
  a:visited {
    color: inherit;
    border-bottom: 1px dotted $pink;
    display: inline-block;
    line-height: 0.75em;
    text-decoration: none;
  }
}

.entryList {
  margin-top: 0.5em;

  & + .entryList {
    margin-top: 1.5em;
  }
  & > .entryList {
    margin-top: 0.7em;
  }
}
