/* layout */
$mobile-width: 600px;
$desktop-width: 1024px;
$max-page-width: 1024px;
$content-width: 500px;
$padding: 15px;

/* fonts */
$heading-font: 'Baskerville', sans-serif;
$body-font: 'MonotypeBaskerville', sans-serif;
$nav-font: 'DINNext', sans-serif;
$font-size-base: 13pt;
$line-height-content: 1.3em;
$font-size-normal: 13pt;
$font-size-s: 0.9em;
$font-size-xs: 0.8em;
$font-size-l: 1.2em;

/* colors */
$black: #000;
$white: #fff;
$dark-grey: #4a4a4a;
$medium-grey: #8b8884;
$light-grey: #d1cdc7;
$lighter-grey: #f2efeb;
$hairline-grey: #a19f9c;
$pink: #D745B6;

$bg-color-dark: $dark-grey;
$bg-color-light: $light-grey;
$text-color-dark: $black;
$text-color-light: $white;
$text-color-dark-secondary: $dark-grey;

/* transitions */
$slow: 800ms;
$medium: 500ms;
$quick: 300ms;
$super-quick: 100ms;
$ease: ease-in-out;
