# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

version: 2.1

orbs:
  queue: eddiewebb/queue@1.5.0

jobs:
  jest:
    docker:
      # specify the version you desire here
      - image: cimg/node:14.19.1

    working_directory: ~/repo

    steps:
      - checkout

      # https://circleci.com/docs/2.0/yarn/
      # Download and cache dependencies
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --immutable

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: typescript
          command: yarn tsc

      - run:
          name: start api server
          command: yarn start:server:test
          background: true

      - run:
          name: wait on api server
          command: ./node_modules/.bin/wait-on http://0.0.0.0:5050/api/version/

      # The sauce-dev-server.js script runs a storybook appropriate for selenium testing
      # so we don't need this step. iI was here for when we were using Cypress for
      # functional testing.
      # - run:
      #     name: start storybook
      #     command: yarn storybook
      #     background: true

      # - run:
      #     name: wait on storybook server
      #     command: ./node_modules/.bin/wait-on http://localhost:6006

      - run:
          name: start notes app
          command: yarn start:notes:test
          background: true

      - run:
          name: wait on notes app
          command: ./node_modules/.bin/wait-on http://localhost:3000

      # run tests!
      - run: yarn test
workflows:
  lint-and-test:
    jobs:
      - queue/block_workflow:
          consider-branch: false
          time: '30'
      - jest:
          requires:
            - queue/block_workflow
