# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

version: 2.1
executors:
  base-10:
    docker:
      - image: cypress/base:10.16.0
orbs:
  queue: eddiewebb/queue@1.5.0

jobs:
  jest:
    docker:
      # specify the version you desire here
      - image: circleci/node:erbium
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: "Reset next branch"
          command: |
            git checkout -q next
            git reset --hard origin/next
            if [ -n "$CIRCLE_TAG" ]
            then
              git checkout "$CIRCLE_TAG"
            elif [ -n "$CIRCLE_BRANCH" ]
            then
              git checkout "$CIRCLE_BRANCH"
            fi
            git reset --hard "$CIRCLE_SHA1"

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: start api server
          command: yarn start:server:test
          background: true

      - run: 
          name: wait on api server
          command: ./node_modules/.bin/wait-on http://0.0.0.0:5000/api/ping/

      - run:
          name: start storybook
          command: yarn storybook
          background: true

      - run: 
          name: wait on storybook server
          command: ./node_modules/.bin/wait-on http://localhost:6006

      - run:
          name: start notes app
          command: yarn start:notes
          background: true

      - run: 
          name: wait on notes app
          command: ./node_modules/.bin/wait-on http://localhost:3000

      # run tests!
      - run: yarn test
workflows:
  version: 2
  lint-and-test:
    jobs:
      - queue/block_workflow:
          consider-branch: false
          time: '30'
      - jest:
        requires:
          - queue/block_workflow
