@import 'shared-styles/index';

.viewport {
  padding: 20px;
  background-color: $white;
  position: relative;
  font-family: 'MonotypeBaskerville', 'Baskerville', serif;
  font-size: 16px;
  line-height: 20px;

  &.fullscreen {
    min-height: 100vh;
    box-sizing: border-box;
  }
}

.content {
  max-width: $content-width;
  width: 100%;
  display: flex;
  flex-direction: column;
}
