@import 'shared-styles/index';

.pageHeading {
  font-family: $heading-font;
  color: $dark-grey;
  font-size: $font-size-l;
  line-height: $line-height-content;
}

.pageSubHeading {
  font-family: $body-font;
  font-weight: bold;
  color: $dark-grey;
  font-size: $font-size-normal;
  line-height: $line-height-content;
}

.contentHeading {
  composes: pageSubHeading;
  position: relative;
  padding: 10px 16px 10px 0;
  margin: 18px 0;

  .text {
    position: relative;
    z-index: 10;
  }

  &:before {
    content: '';
    background-color: $light-grey;
    z-index: 0;
    position: absolute;
    left: -8px;
    right: -8px;
    top: 0;
    bottom: 0;
  }
}
